body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    order: 1; 
    margin: 0 0 0 4rem;
}

.logo img {
    max-width: 100px;
}

nav {
    order: 2; 
    display: flex;
    align-items: center;
    margin: 0 0 0 4rem;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;
}

.nav-link:hover {
    background-color: #555;
}

.header-content {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp8930684.jpg&f=1&nofb=1&ipt=e50c112e7043017ce58dd6fba4ee54e81231acc1a978a8105606a1b9c709b489&ipo=images);
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    height: 700px;
}

.text-content {
    margin-bottom: 20px;
    display: flex;
    margin: 8rem 4rem 0 4rem;
}

.text-content-div b {
    color: rgb(255, 157, 0);
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 20px;
}

.text-content-div h1 {
    color: white;
    font-size: 4rem;
}

.text-content-div p {
    color: white;
    font-size: 1.5rem;
}

.slide-buttons {
    display: flex;
    flex-direction: column;
}

.primary-btn1 {
    background-color: rgb(233, 152, 2);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    width: 8rem;
    margin: 0 0 0 4rem;
}

.primary-btn2 {
    background-color: rgb(245, 229, 202);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    width: 8rem;
    margin: 0 4rem 0 0;
}

#secondary-btn1 {
    margin-top: 6rem;
}

.secondary-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 2rem;
    margin: 0 4rem 0 4rem;
}

.about {
    padding: 50px 0;
    text-align: center;
}

.about h2 {
    color: #e99802;
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 4rem;
    margin-right: 4rem;
}

.success-stories {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.success-stories h2 {
    color: #e99802;
    font-size: 2rem;
    margin-bottom: 20px;
}

.success-stories p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    margin-left: 4rem;
    margin-right: 4rem;
}

.stories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.story {
    width: 30%;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.story img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.story h4 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.story p {
    font-size: 1rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.footer-section {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding-top: 10px;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    width: 20px;  
    height: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 20px;  
    height: 20px
}

form input[type="email"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #e99802;
    color: white;
    border: none;
    cursor: pointer;
}
contact-item{
    width: 10px;  
    height: 10px;
}